.layout{
  background-color: #ecf0f3da;
}



/* header */
/* ================================================================================================================================================================== */
.menu-4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .menu-4 * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  .menu-4 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 1.5em;
    overflow: hidden;
  }
  
  .menu-4 a {
    padding: 1em 0;
    color: #ebebeb;
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
  }
  
  .menu-4 a:before,
  .menu-4 a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  
  /* .menu-4 a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #e67e22;
  } */
  
  /* .menu-4 a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: #212121;
    white-space: nowrap;
  } */
  
  .menu-4 li:hover a,
  .menu-4 .current a {
    color: #f93a13;
  }
  
  nav.style-4 .menu-4 li:first-child img {
    padding: 0.8em 0;
    width: 120px; /* Adjust the width as per your requirements */
    height: auto;
    margin-right: 5px; /* Add some spacing between the logo and the text */
  }
  
  header {
    background: #151414;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
    z-index: 2;
  }
  
   header nav ul li.last-li {
    padding: 1em 1em;
  
  } 
 
  /* ====================================================================================================================================================================== */
  
  
  .children-area{
    margin: 50px auto 50px auto;
    padding-top: 50px;
    min-height: 80vh;
    z-index: 0;
  }
  
  /* footer */
  /* ============================================================================================================================================================================== */
  
  .footer ul {
    margin: 0px;
    padding: 0px;
  }
  .footer-section {
  background: #151414;
  position: relative;
  }
  .footer-cta {
  border-bottom: 1px solid #373636;
  }
  .single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
  }
  .cta-text {
  padding-left: 15px;
  display: inline-block;
  }
  .cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  }
  .cta-text span {
  color: #757575;
  font-size: 15px;
  }
  .footer-content {
  position: relative;
  z-index: 2;
  }
  .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
  }
  .footer-logo {
  margin-bottom: 30px;
  }
  .footer-logo img {
    max-width: 200px;
  }
  .footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
  }
  .footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  }

 .footer-social-icon .port{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #ff5e14;
  }
  .footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
  }
  .footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  }
  .facebook-bg{
  background: #3B5998;
  }
  .twitter-bg{
  background: #55ACEE;
  }
  .google-bg{
  background: #DD4B39;
  }
  .footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  }
  .footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
  }
  .footer-widget ul li {
  display: inline-block;
  /* float: left; */
  width: 50%;
  margin-bottom: 12px;
  }
  .footer-widget ul li a:hover{
  color: #ff5e14;
  }
  .footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  }
  .subscribe-form {
  position: relative;
  overflow: hidden;
  }
  .subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
  }
  .subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
  }
  .subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
  }
  .copyright-area{
    text-align: center;
  background: #202020;
  padding: 25px 0;
  }
  .copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
  }
  .copyright-text p a{
  color: #ff5e14;
  }
  
  .scroll-to-top {
    width: 3%;
    position: fixed;
    bottom: 10%;
    right: 4%;
    transform: translateX(50%);
    z-index: 9999;
    cursor: pointer;
    border-radius: 4px;
    opacity: 0.9;
    transition: opacity 0.3s ease;
  }
  
  .scroll-to-top:hover {
    opacity: 1;
  }
  
  
  .my-side-bar{
    cursor: pointer;
    position: fixed;
    top: 30%;
    left: 1%;
  }